@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Muli:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,100,300,700);

@import "reset";
@import "flex";
@import "animate";


// variables
$roboto:'Roboto', sans-serif;
$muli: 'Muli', sans-serif;
$jose: 'Josefin Slab', serif;

// home
.cont01{
  width: 100%;
  min-height: 800px;
  height: 100%;
  background: url(../img/bg-home.png);
  color: #FFFFFF;
  .container{
    padding-top: 20%;
  }
  h1{
    font-family: $roboto;
    font-size: 72px;
    line-height: 79px;
    font-weight: lighter;
    margin: 0 auto;
    text-align: center;
  }
  h2{
    height: 75px;
    width: 527px;
    font-size: 50px;
    line-height: 75px;
    font-family: $jose;
    font-weight: lighter;
    margin: auto;
    text-align: center;
    background: rgba(246, 167, 0, 0.9);
    color:rgba(255, 255, 255, 0.9);
  }
  nav{
    margin-top: 10%;
  }
}
.homeNav{
  margin: auto;
  width: 527px;
  @include flexbox;
  @include justify-content(space-between);
  a{
    list-style: none;
    font-family: $roboto;
    font-weight: 100;
    cursor: pointer;
    opacity: .8;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
  .sep{
    width: 1px;
    height: 40px;
    margin: 0 25px;
    background: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    -ms-transform: skewX(-10deg); /* IE 9 */
    -webkit-transform: skewX(-10deg); /* Safari */
    transform: skewX(-10deg)
  }
}
