@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

@font-face {
    font-family: 'olivierregular';
    src: url('olivier-webfont.eot');
    src: url('olivier-webfont.eot?#iefix') format('embedded-opentype'),
         url('olivier-webfont.woff2') format('woff2'),
         url('olivier-webfont.woff') format('woff'),
         url('olivier-webfont.ttf') format('truetype'),
         url('olivier-webfont.svg#olivierregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "reset";
@import "flex";
@import "animate";
@import "hoverSel";


// variables
$open:  'Open Sans', sans-serif;
$oliver: 'olivierregular';

// ======================================== header =======================================
body{
        font-family: $open;
}
header{
        width: 100%;
        position: absolute;
        top: 0;
        nav{
          width: 1140px;
          height: 40px;
          margin: auto;
          a{
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            margin: 20px 10px;
            display: inline-block;
            &:hover{
              text-decoration: underline;
            }
            &:last-of-type{
              float: right;
              border: 1px solid #fff;
              padding: 5px 30px;
              border-radius: 25px;
            }
          }
        }
}
// =============================================== section 01 ====================================
.sec01{
        width: 1440px;
        height: 740px;
        background: url(../img/bgSec01.png);
        background-position: center;
        background-size: cover;
        .wrapSec01{
                width: 100%;
                height: 100%;
                margin: auto;
                color: #fff;
                clear: both;
                h1{
                        margin: auto 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 800;
                        font-size: 101px;
                        padding-top: 150px;
                        line-height: 95px;
                        span{
                                width: 360px;
                                height: 24px;
                                background: url(../img/titSvg.svg);
                                display: block;
                                margin:auto;
                        }
                }
                p{
                        text-align: center;
                        font-size: 30px;
                        font-weight: 600;
                }
                a{
                        display: block;
                        color: #FD0057;
                        border: 1px solid #FD0057;
                        border-radius: 25px;
                        padding: 5px 15px;
                        margin: auto;
                        font-size: 16px;
                        text-decoration: none;
                        width: 100px;
                        text-align: center;
                }
        }
}

// =============================================== section 02 ====================================



.sec02{
  width: 1440px;
  height: 630px;
  background: url(../img/bgSec02.png);
  background-position: center;
  background-size: cover;
  @include flexbox;
  @include justify-content(center);
  @include  align-items(center);
  .btnPlay{
    width: 150px;
    height: 150px;
    background: url(../img/btnPlay.svg);
    cursor: pointer;
  }
}
// =============================================== section 03 ====================================

.sec03{
  width: 1440px;
  height: 790px;
  background-color: #232323;
  background-image: url(../img/bgSlider1.png);
  background-repeat: no-repeat;
  background-position: right;
  h2{
    font-family: $oliver;
    color: #fff;
    margin: auto;
    font-size: 60px;
    text-align: center;
    display: block;
    clear: both;
    padding: 100px 0 0 0;
  }
}
.wrapSlide1{
  width: 900px;
  height: 500px;
  margin: auto;
  position: relative;
  .unslider{
    ul{
      li{
        width: 900px !important;
        height: 500px;
        img{
          float: left;
        }
        p{
          float: right;
          color: #fff;
          width: 40%;
          text-align: right;
          padding-top: 150px;
          font-size: 16px;
        }
      }
    }
  }
  .unslider-nav{
    color: #fff;
    margin-top: 30px;
    ol{
      text-align: center;
      li{
        display: inline-block;
        color: #fff;
        font-size: 25px;
        font-family: $oliver;
        margin: 10px 20px;
        &:hover{
          color:#F94F72;
          cursor: pointer;
        }

      }
      .unslider-active{
        color:#F94F72;
      }

    }

  }

  .unslider-arrow{
    width: 29px;
    width: 29px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  .next{
    background-image: url(../img/next.svg);
    right: -60px !important;
    top: 200px;
  }
  .prev{
    background-image: url(../img/prev.svg);
    left: -50px !important;
    top: 200px;
  }

  .lineBottom{
    position: absolute;
    width: 183px;
    height: 3px;
    background: #fff;
    bottom: -20px;
    left: 340px;
  }

}
// =============================================== section 03 ====================================
.sec04{
  width: 1440px;
  height: 770px;
  background-image: url(../img/bgSec04.png);
  h3{
    font-family: $oliver;
    color: #fff;
    margin: 0 auto 20px;
    font-size: 60px;
    text-align: center;
    display: block;
    clear: both;
    padding: 100px 0 0 0;
  }
}
.wrapSlide2{
  width: 945px;
  height: 465px;
  margin: auto;
  .unslider{
    ul{
      li{
        width: 945px;
        height: 465px;
      }
    }
  }
  .unslider-nav{
    ol{
      text-align: center;
      margin-top: 40px;
      li{
        width: 8px;
        height: 8px;
        border-radius: 8px;
        border: 1px solid #fff;
        text-indent: -9999px;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        &:hover{
          background: #fff;
        }
      }
    }
    .unslider-active{
      background: #fff;
    }
  }
  .unslider-arrow{
    display: none;
  }
  .my-slider2{
    ul{
      li{
        @include flexbox;
        @include justify-content(space-between);
        .col{
          width: 303px;
          height: 100%;
          background: #fff;
          border-radius: 5px;
          img{
            margin: 34px auto 10px;
            display: block;
          }
          h4{
            color:#FD4497;
            font-family: $oliver;
            text-align: center;
            font-size: 28px;
            margin: 5px 0;
          }
          p{
            color:#8F8F8F;
            padding: 5px 15px;
          }
          a{
            display: block;
            width: 182px;
            height: 43px;
            border: 1px solid #FE03BD;
            text-align: center;
            margin: auto;
            text-decoration: none;
            line-height: 43px;
            color: #FE03BD;
            font-weight: 800;
            border-radius: 25px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
