@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

@import "reset";
@import "flex";
@import "animate";
@import "hoverSel";


// variables
$open:  'Open Sans', sans-serif;

// ======================================== header =======================================
body{
        font-family: $open;
}
header{
        display: none;
}
.sec01{
        background: #000;
        .wrapSec01{
                width: 1440px;
                height: 740px;
                margin: auto;
                color: #fff;
                clear: both;
                h1{
                        margin: auto 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 800;
                        font-size: 101px;
                        span{
                                width: 360px;
                                height: 24px;
                                background: url(../img/titSvg.svg);
                                display: block;
                                margin: 5px auto;
                        }
                }
                p{
                        text-align: center;
                        font-size: 30px;
                        font-weight: 600;
                }
                a{
                        display: block;
                        color: #FD0057;
                        border: 1px solid #FD0057;
                        border-radius: 25px;
                        padding: 5px 15px;
                        margin: auto;
                        font-size: 16px;
                        text-decoration: none;
                        width: 100px;
                        text-align: center;
                }
        }
}
